body
{
    background-color: white;
}

h1 span
{
	font-weight: normal;
}

.linechanger
{
	line-height: 20px ;
}

.title
{
	font-family: Raleway;
	font-size: 20px;
	line-height: .5;
	text-align: center;

}

.subtitle
{
	font-family: Raleway;
	font-weight: 300;
	line-height: .1;
	text-align: center;
}
.business-card
{
	text-align: center;
	font-size: 20px;
}

.intro
{
	font-family: Raleway;
	text-align: center;
	/* color: blue; */
	font-size: 20px;
}

.image
{
	text-align: center;
}

