body
{
	font-family: Raleway;
    background-color: white;
    position: center;
}

h1 span
{
	font-weight: normal;
}

.title
{
	font-size: 20px;
	line-height: .5;
	text-align: center;

}

.subtitle
{
	font-weight: 300;
	line-height: .1;
	text-align: center;
}

.business-card
{
	text-align: center;
	font-size: 20px;
}

.mypic
{
	text-align: center;
}

.tabs
{
	width:100%;
	display:inline-block;
}

.tab-links:after
{
	display:block;
	clear:both;
	content:'';
}

.tab-links li
{
	margin:0px 10px;
	float:left;
	list-style:none;
}

.tab-links a
{
	padding: 3px 15px;
	display:inline-block;
	border-radius:3px 3px 0px 0px;
	background: #FFFFAA;
	font-size: 13px;
	font-weight:300;
	color:#4c4c4c;
	transition: all linear 0.15s;
}

.tab-links a:hover
{
	background:#a7cce5;
	text-decoration:none;
}

li.active a, li.active a:hover
{
	background:#fff;
	color:#4c4c4c;
}

.tab-content
{
	padding:15px;
	border-radius:3px;
	box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
	background:###f;
}

.tab
{
	display:none;
}

.tab.active
{
	display: block;
}

.intro
{
	font-family: Raleway;
	text-align: center;
	/* color: blue; */
	font-size: 20px;
}


