body
{
	font-family: Raleway;
	font-size: 20px;
    background-color: white;
    text-align: center;
    width: 100%;
}

h2 span, h3 span
{
	font-weight: 300;
}

.title
{
	line-height: .5;
	position:relative;
}

.subtitle
{
	font-weight: 300;
	color: #5c5c5c;
	line-height: .1;
	position:relative;
}

.tabs
{
	width:100%;
	display:inline-block;
}

.tab-links ul
{
	clear:left;
	float:left;
	list-style:none;
	position:relative;
	margin: 0;
	padding: 0;
	left:50%;
	text-align:center;
}

.tab-links ul li
{
	display:block;
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	right: 50%;
}

.tab-links:after
{
	display:block;
	clear:both;
	content:'';
}

.tab-links ul a
{
	padding: 3px 15px;
	display:inline-block;
	border-radius:3px 3px 0px 0px;
	background: #ffffaa;
	font-size: 15px;
	font-weight:300;
	color:#000000;
	transition: all linear 0.15s;
}

.tab-links a, .business-card a
{
	text-decoration: none;
}

.tab-links a:hover
{
	background:#a7cce5;
	text-decoration:none;
}

li.active a, li.active, a:hover
{
	background:#ffffff;
	color:#4c4c4c;
}

.tab-content
{
	padding:5px;
	font-size: 13px;
	line-height: 1.7;
	margin-left: 100px;
	margin-right: 100px;
}

.tab-content a
{
	/*color:#FF3B8E;*/
	color: #4c4c4c;

}

.tab
{
	display:none;
}

.tab.active
{
	display: block;
}

#photography
{
	line-height: .8;
}

#video
{
	line-height: .8;
}

footer
{
	font-size: 10px;
	color: #4c4c4c;
	position: fixed;
	left:40%;
	right:40%;
	bottom:3px;
}
